In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('Significant_Earthquakes.csv')
df.head()

,Unnamed: 0,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,0,1900-10-09T12:25:00.000Z,57.09,-153.48,NaN,7.86,mw,NaN,NaN,NaN,...,2022-05-09T14:44:17.838Z,"16 km SW of Old Harbor, Alaska",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,pt
1,1,1901-03-03T07:45:00.000Z,36.00,-120.50,NaN,6.40,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"12 km NNW of Parkfield, California",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,ell
2,2,1901-07-26T22:20:00.000Z,40.80,-115.70,NaN,5.00,fa,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"6 km SE of Elko, Nevada",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sjg
3,3,1901-12-30T22:34:00.000Z,52.00,-160.00,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,south of Alaska,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
4,4,1902-01-01T05:20:30.000Z,52.38,-167.45,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"113 km ESE of Nikolski, Alaska",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe

In [5]:
df.drop('Unnamed: 0',axis=1 , inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96175 entries, 0 to 96174
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             96175 non-null  object
 1   latitude         96175 non-null  float64
 2   longitude        96175 non-null  float64
 3   depth            95890 non-null  float64
 4   mag              96175 non-null  float64
 5   magType          96175 non-null  object
 6   nst              25611 non-null  float64
 7   gap              35906 non-null  float64
 8   dmin             15968 non-null  float64
 9   rms              67434 non-null  float64
 10  net              96175 non-null  object
 11  id               96175 non-null  object
 12  updated          96175 non-null  object
 13  place            95738 non-null  object
 14  type             96175 non-null  object
 15  horizontalError  14593 non-null  float64
 16  depthError       46466 non-null  float64
 17  magError         29243 non-null  float64
 18  magNst           36233 non-null  float64
 19  status           96175 non-null  object
 20  locationSource   96175 non-null  object
 21  magSource        96175 non-null  object
dtypes: float64(12), object(10)
memory usage: 16.1+ MB